<div class="card mt-4" *ngIf="user.isAdmin">
    <span class="card-header">
        <div class="text-center">
            <span class="card-body d-flex">
                  <b>TITOLO TIPO DOCUMENTO</b>
            </span>
        </div>
    </span>
    <form>
        <div class="card-body" style="border: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;">
               <div class="form-group alignContent">
                 TITOLO
               </div>    
               <div class="form-group alignContent" style="margin-right: 4%;">
                 AZIONE
               </div>
           <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
       </div>    
     <div class="card-body" style="border: 1px solid;
     display: flex;
     justify-content: space-between;
     align-items: center;">
            <div class="form-group alignContent" style="width: 40%;">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>    
            <div class="form-group button alignContent" >
                <span class="material-symbols-outlined" style="font-size: 50px; color: #e6881e;">
                    check_box
                    </span>
                <span class="material-symbols-outlined" style="font-size: 50px; color: #e6881e;">
                        disabled_by_default
                    </span>
            </div>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </div>  
    </form>
        <span class="card-header">
        <div class="text-center">
            <span class="card-body d-flex">
                  <b>GESTIONE CAMPI </b>
            </span>
        </div>
    </span>
</div>

