.card-header {
    background-color: #080530;
    color: white;
    height: 80px;
}

.card-body {
    padding: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
}
.alignContent {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

